  <div class="container-fluid">
    <div class="row">
      <div class="col content single-col">        
        
        <div class="form-content">
            <h2>Thank you for viewing the COBRA demo.</h2>
            
            
            <div *ngIf="business.id==0">
              <p>If you would like more information, please enter your email below and we will get back to you as soon as possible. 
                We'll also send you a link to view your personalized demo created today!</p>
              
              <div class="input-group ">
                <input [(ngModel)]="business.email" name="business_email" type="text" class="form-control form-control-lg" placeholder="Your email address" aria-label="Your email address" aria-describedby="send-btn">
                <div class="input-group-append">
                  <button (click)="submitLead(business);" class="btn btn-info btn-forward" type="button" id="send-btn">Submit</button>
                </div>
              </div>
            </div>
            
            <div *ngIf="business.id > 0">
              <p>If you have any more questions or would like to make contact with one of our team members, give us a shout!
                
              <p>ArcaMax Publishing, Inc.<br>
                 729 Thimble Shoals Blvd. Suite 1-B<br>
                 Newport News, VA 23606<br>
                 Phone: (757) 596-9730<br> 
                 Email: cobra@arcamax.com</p>
                 
              <p><b><i>COBRA Team,<br>ArcaMax Publishing</i></b></p>
            
            </div>
            
            <p class="text-right pplink">
              <a href="//cobra.arcamax.com/privacy" target="_blank" class="text-muted btn btn-sm btn-link">Privacy Policy</a>
            </p>
        </div>
        <br>
        <br>
        <div class="form-buttons">
          <button type="button" (click)="onBackward()" class="btn btn-default btn-back"><i class="fa fa-angle-left"></i> Backward</button>
          <!-- <button type="submit" (click)="onForward()" class="btn btn-primary btn-forward">Forward <i class="fa fa-angle-right"></i></button> -->
        </div>
        
      </div>
    </div>
  </div>    
  

<!--  <br><br><br><hr>
  <div class="text-left">Log:
  <pre style="font-size: 11px">{{diagnostic}}</pre>
  </div>      -->