  <div class="container-fluid">
    <div class="row">
      <div class="col content single-col">        
        
        <div class="form-content">
            <h2>Contact Us</h2>
              
            
            
        </div>
        
        <br>
        <br>
        <div class="form-buttons">
          <button type="submit"  class="btn btn-primary btn-forward">Send <i class="fa fa-envelope" style="font-size:1rem"></i></button>
        </div>
        
      </div>
    </div>
  </div>         