  <div class="container-fluid">
    <div class="row">
      <div class="intro col-4 col-md-auto ">
        <h3>ArcaMax Offers subscription widgets for your site to add value to your visitors</h3>
        <br>
        <ul class="check-circle">
          <li>Lorem ipsum dolor sit amet, ad decore graece duo, nam tantas erroribus eu.</li>
          <li>Lorem ipsum dolor sit amet, ad decore graece duo, nam tantas erroribus eu.</li>
          <li>Lorem ipsum dolor sit amet, ad decore graece duo, nam tantas erroribus eu.</li>
        </ul>
      
        <b>Log: </b>
        <pre>{{diagnostic}}</pre>
      
      </div>
      <div class="col content">        
        
        <div class="form-content">
            <h2>Co-Branded widgets</h2>
            
            <div class="widget-example">
              <h5>Responsive design</h5>
              <div class="widget">
                <img *ngIf="business.use_default_logo" class="widget-logo" src="" alt="default logo" />
                <img *ngIf="!business.use_default_logo" class="widget-logo" src="{{business.logo}}" alt="" />

                <div class="widget-title">
                  Exclusive Content for our subscribers!
                </div>
                <div class="widget-copy">
                  <p>Get the {{business.name}} {{business.newsletter}} email newsletter and
                  get the best content delivered to your inbox for free.</p>
                  <small><i>*confirm in your inbox to start - easy unsubscribe</i></small>
                </div>
                <div class="widget-subbox">
                  Enter your email: 
                  <input type="text" placeholder="YOUR EMAIL" />
                  <button class="btn btn-sm btn-primary">Submit</button>
                </div>
              </div>
            </div>
            
            <div class="widget-example">
              <h5>300 x 250 unit</h5>
              <div class="widget widget-300x250">
                <div class="widget">
                  <img *ngIf="business.use_default_logo" class="widget-logo" src="" alt="default logo" />
                  <img *ngIf="!business.use_default_logo" class="widget-logo" src="{{business.logo}}" alt="" />
                  
                  <div class="widget-title">
                    Exclusive Content for our subscribers!
                  </div>
                  <div class="widget-copy">
                    <p>Get the {{business.name}} {{business.newsletter}} email newsletter and
                    get the best content delivered to your inbox for free.</p>
                    <small><i>*confirm in your inbox to start - easy unsubscribe</i></small>
                  </div>
                  <div class="widget-subbox">
                    <small>Enter your email: </small>
                    <input type="text" placeholder="YOUR EMAIL" />
                    <button class="btn btn-sm btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
        <br>
        <br>
        <div class="form-buttons">
          <button type="button" (click)="onBackward()" class="btn btn-default btn-back"><i class="fa fa-angle-left"></i> Backward</button>
          <button type="submit" (click)="onForward()" class="btn btn-primary btn-forward">Forward <i class="fa fa-angle-right"></i></button>
        </div>
        
      </div>
    </div>
  </div>         