  <div class="container-fluid">
    <div class="row">
      <div class="intro col-md-auto ">
        <h3>Monetize your subscribers with ArcaMax&#39;s Co-branded Newsletters</h3>
        <br>
        <ul class="check-circle">
          <li>COBRA is a no cost partnership that generates revenue for the lifetime of the subscriber</li>
          <li>Implementation is simple with our API access or embedded widgets</li>
          <li>ArcaMax handles all aspects of the newsletter program including subscriber management, content, emailing and monetization</li>
        </ul>
      
<!--        <b>Log: </b>
        <pre>{{diagnostic}}</pre> -->
      
      </div>
      <div class="col content">        

       <div [hidden]="submitted">

        <form (ngSubmit)="onForward()" #businessForm="ngForm" class="details-form">
          <div class="form-content">
            <h2>Enter your business details in the form below</h2>
          
            <div class="form-group">
              <label for="ff1">Your business name:</label>
              <input [(ngModel)]="business.name" class="form-control form-control-lg" type="text" name="business_name" id="ff1" required placeholder="{{business.name}}" />

            </div>
            <div class="form-group">
              <label for="ff2">Add a logo url:</label>
              <input [(ngModel)]="business.logo" class="form-control form-control-lg" type="text" name="logo_url" id="ff2" placeholder="{{business.logo}}" />
              <br>
              OR
              <br>
              <div class="form-check">
                <input [(ngModel)]="business.use_default_logo" class="form-check-input form-control-lg" type="checkbox" name="use_default_logo" id="ff3" value="true" /> 
                <label class="form-check-label" for="ff3">use default logo</label>
              </div>
            </div>
            <div class="form-group">
              <label for="ff4">Number of opt-in users per day:</label>
              <input [(ngModel)]="business.optins_per_day" class="form-control form-control-lg" type="text" name="optins_per_day" id="ff4" placeholder="Opt-ins/Day" />
            </div>
            <div class="form-group no-border">
              <label for="ff5">Select a sample newsletter:</label>
              <select [(ngModel)]="business.newsletter" (change)="setEzine()" class="form-control form-control-lg" name="newsletter" id="ff5" required>
                <option *ngFor="let ezine of newsletters" [value]="ezine.id">{{ezine.title}}</option>
              </select>
            </div>
          
          </div>
          <div class="form-buttons">
            <!-- <button type="button" class="btn btn-default btn-back"><i class="fa fa-angle-left"></i> Backward</button> -->
            <button type="submit" class="btn btn-primary btn-forward" [disabled]="!businessForm.valid">Forward <i class="fa fa-angle-right"></i></button>
          </div>
        </form>
        
        
        </div>

        
      </div>
    </div>
  </div>         