  <div class="container-fluid">
    <div class="row">
      <div class="col content single-col">        
        
        <div class="form-content">
            <h2>Sample Newsletter</h2>
              
            <div class="form-group row">
              <div class="col">
              
              <label for="ff5">Select a sample newsletter:</label>
              <select [(ngModel)]="business.newsletter" (change)="setEzine()" class="form-control form-control-lg" name="newsletter" id="ff5">
                <option *ngFor="let ezine of newsletters" [value]="ezine.id">{{ezine.title}}</option>
              </select>
              
            </div>
            <div class="col-3"></div>
              
            </div>
              
            
            
        </div>
        
        <ezine [business]="business" [id]="newsletter.template"></ezine>
        
        <br>
        <br>
        <div class="form-buttons">
          <button type="button" (click)="onBackward()" class="btn btn-default btn-back"><i class="fa fa-angle-left"></i> Backward</button>
          <button type="submit" (click)="onForward()" class="btn btn-primary btn-forward">Forward <i class="fa fa-angle-right"></i></button>
        </div>
        
      </div>
    </div>
  </div>         
  
  <!-- <div class="col">
    Log:
    <pre style="font-size: 11px">{{diagnostic}}</pre>
  </div> -->