<div class="header">
  <div class="wrapper">
    <nav class="navbar navbar-default topnavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="assets/img/cobra-logo.svg" width="220" height="65" alt="COBRA - Co-Branded Newsletters" class="logo" />
          </a>
        </div>
        <div class="nav navbar-nav justify-content-end">
          <div class="btn-group topnav" role="group">
            <button type="button" (click)="resetWizard()" class="btn btn-light">Reset Wizard</button>
            <button type="button" (click)="goToContact()" class="btn btn-light">Contact</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="banner">
  <!-- <div class="wrapper">
    <p>{{title}}</p>
  </div> -->
</div>


<div class="wrapper">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<br>