<div class="header">
  <div class="wrapper">
    <nav class="navbar navbar-default topnavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/demo/">
            <img src="assets/img/cobra-logo.svg" width="220" height="65" alt="COBRA - Co-Branded Newsletters" class="logo" />
          </a>
        </div>
        <div class="nav navbar-nav ml-auto ">
          <div class="btn-group xtopnav" role="group">
            <button type="button" (click)="resetWizard()" class="btn btn-outline-info">Reset Wizard</button>
            <button type="button" (click)="goToContact()" class="btn btn-outline-info">Contact</button>
          </div>
        </div>
        <span class="navbar-text"><img src="assets/img/poweredbyarcamax.svg" alt="" width="80" class="ml-sm-4" /></span>
        

      </div>
    </nav>
  </div>
</div>
<div class="banner">
  <!-- <div class="wrapper">
    <p>{{title}}</p>
  </div> -->
</div>


<div class="wrapper">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

<br>